@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  background: #F3F4F7;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5rem 1rem 2.5rem 1rem;

  .title {
    a {
      font-weight: 700;
    }

    p {
      font-size: .9rem;
      font-weight: 100;
      font-style: italic;
    }
  }

  &__card {
    width: 60rem;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
    transition: transform .45s ease, background .45s ease;

    .item {
      margin-bottom: 1rem;

      &__row {
        display: flex;
        justify-content: flex-start;
        gap: .75rem;

        .btn {
          border-radius: 5.625rem;
          padding: 1rem 1.5rem;
          font-size: 0.9rem;

          &.btn-primary {
            background-color: #3772FF;
          }

          &.btn-secondary {
            color: #3772FF;
            background-color: #fff;
            border-color: #3772FF;
          }

          &.btn-success {
            color: #fff;
            background-color: #45B26B;
            border-color: #45B26B;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        margin-bottom: 2rem;
      }

      &__form {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;

        label {
          font-weight: 700;
          font-size: .85rem;
          line-height: .85rem;
        }

        input {
          width: 20rem;
          border: 2px solid #E6E8EC;
          box-sizing: border-box;
          border-radius: 12px;
          padding: 1rem .75rem 1rem .75rem;
          font-size: 0.9rem;

          &:focus {
            border: 2px solid #B1B5C4;
            box-shadow: none;
          }
        }
      }
    }

    h2 {
      font-weight: 700;
    }

    h3 {
      text-align: left;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }

  .bullets {
    list-style-type: upper-roman;
    text-align: left;
    font-size: .9rem;

    p {
      margin-bottom: .25rem;
    }
  }
}